@model Wardrobe.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
