@model IEnumerable<Wardrobe.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.OccName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccID })
        </td>
    </tr>
}

</table>
